@use '../../Vars.scss' as *;

.feedback-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.feedback-box {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.feedback-box textarea {
    background-color: var(--secondary-color);
    width: 100%;
    min-height: 380px;
    padding: 14px;
    font-size: 15px;
    resize: vertical;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 20px;
}

.feedback-box textarea:focus {
    border: 2px solid var(--primary-color);
}

.feedback-submit-btn{
    margin-top: 1rem;
    font-size: 20px;
}