@use '../../Vars.scss' as *;

.manager-list {
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 20px;

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 10px;
        color: var(--third-color);
    }

    .apply-btn {
        margin-top: 1.2rem;
        font-size: 1.2rem;
    }
}