@use '../../Var.scss' as *;

.profile-sections {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;

    .profile-section {
        background: var(--secondary-color);
        padding: 24px 28px;
        border-radius: 14px;
        box-shadow: 0 8px 26px rgba(0, 0, 0, 0.08);

        h2 {
            font-size: 1.5rem;
            margin-bottom: 18px;
            color: var(--primary-color);
            border-bottom: 1px solid var(--third-color);
            padding-bottom: 8px;
        }

        .profile-display {
            display: flex;
            flex-direction: column;
            gap: 12px;
            font-size: 16px;
            // color: #333;
            // background-color: var(--background-color);
            padding: 12px 15px;
            border-radius: 6px;
            // border: 1px solid #ddd;

            p {
                display: flex;
                gap: 10px;
                align-items: center;

                strong {
                    width: 250px; // aligns with form labels
                    font-weight: 500;
                    color: var(--text-color2);
                    font-size: 1.2rem;
                }

                span,
                // optional if you wrap values in span
                &:not(strong) {
                    flex: 1;
                    font-weight: bold;
                    color: var(--third-color);
                    font-size: 1.2rem;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            label {
                font-size: 1.3rem;
                font-weight: 500;
                color: var(--text-color2);
            }

            input {
                padding: 10px 14px;
                background-color: var(--background-color);
                border: 1px solid var(--background-color);
                border-radius: 8px;
                font-size: 1.2rem;
                outline: none;
                transition: border-color 0.2s;

                &:focus {
                    border-color: var(--primary-color);
                }
            }

            .profile-btn {
                margin-top: 15px;
                font-size: 1.2rem;
            }
        }
    }
}