@use '../../Var.scss' as *;

.add-student-container {

    .form-container {
        // background-color: red;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: start;

        .add-student-form {
            width: 800px;
            height: max-content;
            margin-top: 30px;
            padding: 24px;
            background: var(--secondary-color);
            border: 1px solid var(--third-color);
            border-radius: 12px;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 18px;

            .form-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: var(--text-color1);
                }

                input {
                    padding: 10px 12px;
                    border-radius: 8px;
                    // border: 1px solid var(--secondary-color);
                    background-color: var(--background-color);
                    font-size: 1.2rem;
                    outline: none;
                    border: none;

                    &:focus {
                        outline: none;
                        border: 1px solid var(--primary-color);
                    }
                }
            }
        }
    }

}