@use '../../Vars.scss' as *;


.dashboard-container {

  .dashboard-stats,
  .dashboard-content {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 15px;

    h3 {
      font-size: 1.5rem;
      // margin-bottom: 0.5rem;
      color: var(--primary-color);
      border-bottom: 1px solid var(--third-color);
      padding-bottom: 10px;
    }

    .hall-stats{
      // background-color: red;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
    }

    .feedback-list{
      display: flex;
      flex-direction: column;
      gap: 1rem;

    }

    .hall-stats,
    .feedback-list {
      // background-color: red;
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      // gap: 1.5rem;

      .stat-card{
        text-align: center;
      }

      .stat-card,
      .feedback-card {
        background-color: var(--background-color);
        padding: 1.5rem;
        border-radius: 12px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s;

        h2 {
          font-size: 2rem;
          margin-bottom: 0.5rem;
          color: var(--primary-color);
        }

        p {
          font-size: 1.2rem;
          color: var(--text-color1);
        }
      }
    }
  }
}