@use './Vars.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  font-family: var(--font1);
}
