@use '../../Var.scss' as *;

.student-card-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.student-card {
    background: rgba(255, 255, 255, 0.01); // glass background
    backdrop-filter: blur(50px);
    // -webkit-backdrop-filter: blur(500px);
    border-radius: 16px;
    width: max-content;
    padding: 24px 26px;
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.18);
    position: relative;
    border: 1px solid var(--third-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: center;
    z-index: 1001;

    h2 {
        font-size: 25px;
        margin-bottom: 16px;
        color: var(--primary-color);
    }

    .info {
        // background-color: red;
        display: flex;
        flex-direction: column;
        gap: 15px;

        p {
            font-size: 1.5rem;
            color: var(--text-color2);

            strong {
                color: var(--text-color1);
                font-weight: 500;
            }
        }
    }

    .close-btn {
        margin-top: 1rem;
    }
}