@use '../../Vars.scss' as *;

.fees-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    // flex-wrap: wrap;

    .hall-fees,
    .dining-fees {
        background-color: var(--secondary-color);
        padding: 1.5rem;
        border-radius: 15px;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: var(--primary-color);
            border-bottom: 1px solid var(--third-color);
            padding-bottom: 10px;
        }

        .fees {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1.5rem;

            .fee-card {
                // background: var(--background-color);
                padding: 16px;
                // margin-bottom: 12px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

                p {
                    margin: 4px 0;
                    font-size: 1.3rem;

                    strong {
                        color: var(--third-color);
                    }
                }

                .pay-btn{
                    font-size: 1.3rem;
                    margin-top: 15px;
                }
            }
        }
    }
}