@use '../../Var.scss' as *;


.dashboard-container {

  .dashboard-stats {
    // background-color: red;
    border-bottom: 1px solid var(--third-color);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .hall-stats {
      // background-color: red;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;

      .stat-card {
        background-color: var(--secondary-color);
        padding: 1.5rem;
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s;

        &:hover {
          transform: translateY(-5px);
        }

        h2 {
          font-size: 2rem;
          margin-bottom: 0.5rem;
          color: var(--primary-color);
        }

        p {
          font-size: 1.2rem;
          color: var(--text-color1);
        }
      }
    }

    .dinning-managers {
      background-color: var(--secondary-color);
      border-radius: 12px;
      padding: 1.5rem;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: var(--primary-color);
      }

      .mangers-list {
        // margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        gap: 20px;

        .manger-card {
          background: var(--background-color);
          border-radius: 12px;
          padding: 18px 20px;
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
          transition: transform 0.2s ease, box-shadow 0.2s ease;

          h3 {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 10px;
            color: var(--text-color1);
          }

          p {
            font-size: 1.2rem;
            margin: 4px 0;
            color: var(--text-color2);

            strong {
              color: var(--third-color);
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .dashboard-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;

    .content-card {
      background-color: var(--secondary-color);
      padding: 1.5rem;
      border-radius: 12px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);

      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: var(--primary-color);
      }

      p {
        font-size: 1rem;
        color: var(--text-color2);
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          background-color: var(--background-color);
          margin-bottom: 0.5rem;
          padding: 0.5rem;
          border-radius: 8px;
          color: var(--text-color1);
        }
      }
    }
  }
}