@use '../../Var.scss' as *;

.table-wrapper {
    margin-top: 24px;
    background: var(--secondary-color);
    border: 1px solid var(--third-color);
    border-radius: 14px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    overflow-x: auto;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 700px;

    thead {
        background: var(--primary-color);

        th {
            padding: 14px 16px;
            text-align: left;
            font-size: 20px;
            font-weight: 600;
            color: var(--text-color1);
            border-bottom: 1px solid var(--primary-color);
        }
    }

    tbody {
        tr {
            transition: background 0.2s ease;

            &:hover {
                background: var(--background-color);
            }
        }

        td {
            padding: 14px 16px;
            font-size: 18px;
            color: var(--text-color2);
            border-bottom: 1px solid var(--third-color);
            cursor: pointer;
        }

        tr:last-child {
            td {
                border-bottom: none;
            }
        }

        .delete-btn{
            // background-color: var(--background-color);
            background: transparent;
            color: var(--error-color);
            padding: 10px 12px;
            // border: 1px solid var(--background-color);
            border-radius: 8px;
            font-size: 24px;

            &:hover {
                border-color: var(--error-color);
                background-color: var(--error-color);
                color: var(--text-color1);
            }
        }
    }
}