@use '../../Var.scss' as *;

.dropdown {
    position: relative;
    width: 100%;
    font-size: 1rem;

    .dropdown-selected {
        padding: 0.75rem 1rem;
        border-radius: 6px;
        background: rgba(0, 0, 0, 0.45);
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: var(--text-color1);
        cursor: pointer;
        transition: border 0.2s;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &.active {
            border-color: var(--primary-color);
        }

        /* Arrow */
        &::after {
            content: '';
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid var(--text-color1);
            margin-left: 10px;
            transition: transform 0.3s;
        }

        &.active::after {
            transform: rotate(180deg);
        }
    }

    .dropdown-menu {
        position: absolute;
        top: calc(100% + 6px);
        width: 100%;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(12px);
        border: 1px solid var(--primary-color);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
        z-index: 10;
        overflow: hidden;
    }

    .dropdown-option {
        padding: 0.7rem 0.8rem;
        color: var(--text-color1);
        cursor: pointer;
        transition: background 0.2s, color 0.2s;

        &:hover {
            background: var(--primary-color);
            color: #000;
        }
    }
}